# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Exclude user-specific XCode 3 and 4 files
*.xcworkspace
*.xcuserstate
*.DS_STORE
